<% @title = "Links - Link back to GDS" %>

<b><%= @title %></b><br>
<img src="/layout/divider.png"><br>
<p>
If you're going to use any of these graphics to link back, just use the HTML code provided, replacing IMAGENAME with the actual image name (gds_white.gif for example). Please download these images to your computer and upload them to your webserver, to conserve bandwidth.
</p>

<b>Buttons</b><br>
<img src="/layout/divider.png"><br>

<table border=0 cellpadding=0 cellspacing=8>
<tr>
<td><img src="/linkBackImages/gds_black.gif"></td>
<td><img src="/linkBackImages/gds_white.gif"></td>
<td><img src="/linkBackImages/gds_burst.gif"></td>

</tr><tr>
<td>gds_black.gif</td>
<td>gds_white.gif</td>
<td>gds_burst.gif</td>
</tr></table>

<br>
<b>HTML code to use:</b><br>
&lt;a href="http://www.graphics-design.com" target="_top"&gt;<br>&lt;img src="IMAGENAME" width=88 height=31 border=0&gt;&lt;/a&gt;

<br><br>

<b>Banners</b><br>
<img src="/layout/divider.png"><br>
<img src="/linkBackImages/gds_collage.gif" width=468 height=60><br>
gds_collage.gif

<br><br>
<b>HTML code to use:</b><br>
&lt;a href="http://www.graphics-design.com target="_top"&gt;<br>&lt;img src="IMAGENAME" width=468 height=60 border=0&gt;&lt;/a&gt;