<% @title = "Creations - Desktops" %>

<b>Desktops</b><br>
<img src="/layout/divider.png"><br>
These are screenshots of my past desktops! Be wary, the images are full captures of my screen, 
so they are as large as my resolution at the time (meaning: <b>they are very large images</b>). I often use shell enhancement programs, 
such as <a href="http://www.stardock.com/products/desktopx/">DesktopX</a> and 
<a href="http://www.shellfront.org/">Litestep</a> (my favorite, for windows).

If you're using MS windows, 
these programs allow you to completely alter or do away with the windows shell. You can then customize the look, feel, and operation of just about everything on the desktop. On linux, I usually use <a href="http://www.gnome.org">Gnome</a> 
and a Gnome-compatible window manager, such as sawfish, to arrange/draw my desktop.
<br><br>
<i>Note: I either had very little or no part in designing the wallpaper; credit for the wallpapers 
goes to their respective authors.</i>
<br><br>

<% creations = Creation.all(:offset => offset, :limit => limit, :type => "desktop") %>
<% creations.each_with_index do |creation, index| %>
  <%= erb "creations/_creation_item".to_sym, :locals => { :creation => creation }, :layout => false %>

  <img src="/layout/divider.png" width="100%"><br>

<% end %>

<%= erb :pagination_arrows, :locals =>
      { :total => Creation.count(:type => "desktop"), :limit => limit, :offset => offset,
        :page => "/creations/desktops" },
    :layout => false %>