<% @title = "Creations" %>

<b><%= @title %></b><br>
<img src="/layout/divider.png"><br>
You can browse some of my past creations including logos, interfaces, and some other
misc. items - be forewarned, most of these graphics are terribly outdated. For <b>newer
images</b>, visit the <a href="/portfolio">Portfolio</a> section. Enjoy!
<br><br>

<table border=0 cellpadding=0 cellspacing=4>
<tr>
<td><a href="/creations/desktops"><img src="/layout/icons/desktops.jpg" border=0></a></td>
<td valign=top><font face=arial><b>Desktops</b><br>
The actual screenshots of my past and current desktop designs. See what type of
interface I'm using on my computer.
</td></tr>
<tr>
<td><a href="/creations/interfaces"><img src="/layout/icons/interfaces.jpg" border=0></a></td>
<td valign=top><font face=arial><b>Interfaces</b><br>
The ever so popular navigational bars - see a few
of my personal interfaces not associated with clients.
</td></tr>
<tr>
<td><a href="/creations/logos"><img src="/layout/icons/logos.jpg" border=0></a></td>
<td valign=top><font face=arial><b>Logos</b><br>
See a few GDS logos not included on the site!
</td></tr>

</table>
