<% @title = "Web Design" %>

<b>Introduction</b><br>
<img src="/layout/divider.png"><br>
<p>
Every business can benefit from a beautiful presence on the web. I can create simple, effective layouts tailored to your needs.
</p>
<p>
I'm free to talk about design projects and I can offer detailed quotes for your project.
</p>

<p>
I quote prices based on how long it will take me in hours. To receive a quote for your project, please <a href="/contact">contact</a> me.
</p>

<b>Past Work</b>
<img src="/layout/divider.png"><br>
<p>
Please refer to my <a href="/portfolio/">Online Portfolio</a>. To see images done for my personal use, please visit the <a href="/creations/">creations</a> section.
</p>

<b>Contact</b><br>
<img src="/layout/divider.png"><br>
<p>
To contact me about a design, please visit the <a href="/contact">contact</a> page. Include in your email your general project expectations (including deadlines, if any) and we'll refine the details together.
</p>
