<% @title = "Free Images - Buttons" %>

<b>Buttons</b><br>
<img src="/layout/divider.png"><br>
These buttons can be used as a template, where you can put your own text on them and use them on your website or graphics project. To find out how to make buttons of your own, or to create some text effects, visit the <a href="/tips_tricks">Tips and Tricks</a> section.
<br><br>
<font size=2><b><i>Note</i>: These images are in .png format, and they have transparent backgrounds. That means they can display well on <i>any</i> color background. If you modify these images and place text on them, be sure to save them in .png format again.</b>
<font size=3>
<br><br>

<% items = FreeImage.all(:type => "button",
     :offset => offset, :limit => limit, :order => [:date.desc]) %>
<% items.each_with_index do |item, index| %>
  <%= erb "freeimages/_image_item".to_sym, :locals => { :image => item }, :layout => false %>

  <img src="/layout/divider.png" width="100%" />

<% end %>

<%= erb :pagination_arrows, :locals =>
      { :total => FreeImage.count(:type => "button"), :limit => limit,
        :offset => offset, :page => "/freeimages/buttons" },
    :layout => false %>