<% @title = "Free Images" %>

<b><%= @title %></b><br>
<img src="/layout/divider.png"><br>
This is the free image section, where you can grab any small image you need for your website,
be it a line, bullet point, button or anything else. These images are royalty free (you may use them
with no strings attached). If you would like a custom image designed for your website, visit the
<a href="/webdesign/">Web Design</a> section.
<br><br>


<table border=0 cellpadding=0 cellspacing=4>
<tr>
<td><a href="/freeimages/textures"><img src="/layout/icons/textures.jpg" border=0></a></td>
<td valign=top><font face=arial><b>Textures</b><br>
Obtain textures for your graphic designing needs.
</td></tr>
<tr>
<td><a href="/freeimages/buttons"><img src="/layout/icons/buttons.jpg" border=0></a></td>
<td valign=top><font face=arial><b>Buttons</b><br>
Customizable buttons.
</td></tr>

</table>
