<? $pageTitle = "Free Images - Textures";
require("../templates/header.inc");
?>

<b>Textures</b><br>
<img src="/layout/divider.png"><br>
You can use these textures for practically any purpose, but they are most often used as
the background of a site (using HTML) or used as the backgrounds of images. They can also be
manipulated and used for interfaces, or the face of text. To see how to do a few of these applications,
visit the <a href="/tips_tricks">Tips and Tricks</a> section.
<br><br>


<% items = FreeImage.all(:type => "texture",
     :offset => offset, :limit => limit, :order => [:date.desc]) %>
<% items.each_with_index do |item, index| %>
  <%= erb "freeimages/_image_item".to_sym, :locals => { :image => item }, :layout => false %>

  <img src="/layout/divider.png" width="100%" />

<% end %>

<%= erb :pagination_arrows, :locals =>
      { :total => FreeImage.count(:type => "texture"), :limit => limit,
        :offset => offset, :page => "/freeimages/textures" },
    :layout => false %>
