<% @title = "Viewing #{image.title}" %>

<center>
  <a href="javascript:history.back(1)"><img src="/layout/arrowPrev.jpg" border="0"></a><br/>
  <img src="/layout/divider.png" />
  <% 1.upto image.items_in_set do |i| %>
    <img
      src="/assets/freeimages/<%= image.type %>/<%= image.path %>/<%= i %>.<%= image.file_extension %>" />
  <% end %>
</center>