<% @title = "Portfolio - Logos" %>

<b>Logos</b><br>
<img src="/layout/divider.png"><br>
These are standalone logos that were designed separately from the website. To see logos that I've made that were integrated into website layouts, visit the <a href="/portfolio/websites">websites</a> section of my portfolio.

<br><br>

<% items = Portfolio.all(:type => "logo",
     :offset => offset, :limit => limit, :order => [:date.desc]) %>
<% items.each_with_index do |item, index| %>
  <%= erb "portfolio/_portfolio_item".to_sym, :locals => { :portfolio_item => item }, :layout => false %>

  <img src="/layout/divider.png" width="100%"><br/>

<% end %>

<%= erb :pagination_arrows, :locals =>
      { :total => Portfolio.count(:type => "logo"), :limit => limit,
        :offset => offset, :page => "/portfolio/logos" },
    :layout => false %>